<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="StartupMachines" type="LogCleaner.Configuration.MachinesConfigSection, LogCleaner"/>
  </configSections>

  <!--Информация о блоках-->
  <StartupMachines>
    <Machines>
      <Machine number="01" ip="192.168.0.225"/>
      <Machine number="02" ip="192.168.0.226"/>
      <Machine number="03" ip="192.168.0.227"/>
      <Machine number="04" ip="192.168.0.228"/>
      <Machine number="05" ip="192.168.0.229"/>
      <Machine number="06" ip="192.168.1.230"/>
    </Machines>
  </StartupMachines>

  <appSettings>
    <!--Путь для сохранения лог-файлов-->
    <add key="SavePath" value="D:\TempBM"/>

    <!--Удалять лог-файлы с блоков после сохранения-->
    <add key="RemoveFromBlocks" value="true"/>
    
    <!--Сжимать в пакет лог-файлы-->
    <add key="Zipped" value="true"/>
    
    <!--Время ожидания запроса в миллисекундах-->
    <add key="RequestTimeout" value="2000"/>
    
    <!--Время ожидания при записи или при чтении в миллисекундах-->
    <!--<add key="ReadWriteTimeout" value="2000"/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
